body {
  width: 200px;
}

#generatorButton {
  margin: 0 0 8px 0;
}

#withDots {
  margin: 0 0 8px 0;
}

#cpf {
  font-style: italic;
  font-weight: bold;
}

#curp {
  font-style: italic;
  font-weight: bold;
}

#copyright a {
  text-decoration: none;
  color: #F15574;
}

#version {
  font-weight: bold;
}